{% extends 'base.html' %} {% load static %} {% load widget_tweaks %}
<body>
    {% block content %}
    <div class="statusBar">
        <button
            class="statusBar--homeBtn"
            onclick="location.href='{% url 'index' %}'"
        >
            H.GG
        </button>
    </div>
    <form method="post" action="{% url 'account_signup' %}" id="registerBox">
        {% csrf_token %}
        <fieldset>
            <div class="registerBox--list">
                <label for="username">사용자이름</label>
                {{ form.username|add_class:"form-control"|attr:"placeholder:사용자이름"|attr:"style:border: 2px solid #6524ff"|attr:"name:username"|add_error_class:"error"}}
                {% for error in form.username.errors %}
                <div class="error-message">{{ error }}</div>
                {% endfor %}
                <!-- <input
                    style="border: 2px solid #6524ff"
                    required="required"
                    type="{{ field.field.widget.input_type }}"
                    class="form-control"
                    id="{{field.id_for_label}}"
                    placeholder="{{field.label}}"
                    name="{{field.name}}를 입력해주세요."
                /> -->
            </div>
            <div class="registerBox--list">
                <label for="password1">비밀번호</label>
                {{ form.password1|add_class:"form-control"|attr:"placeholder:비밀번호"|attr:"style:border: 2px solid #6524ff"|attr:"name:password1"|add_error_class:"error"}}
                {% for error in form.password1.errors %}
                <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="registerBox--list">
                <label for="password2">비밀번호 확인</label>
                {{ form.password2|add_class:"form-control"|attr:"placeholder:비밀번호 확인"|attr:"style:border: 2px solid #6524ff"|attr:"name:password2"|add_error_class:"error"}}
                {% for error in form.password2.errors %}
                <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="registerBox--list">
                <label for="email">이메일</label>
                {{ form.email|add_class:"form-control"|attr:"placeholder:이메일"|attr:"style:border: 2px solid #6524ff"|attr:"name:email"|add_error_class:"error"}}
                {% for error in form.email.errors %}
                <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="registerBox--list">
                <label for="nickname">닉네임</label>
                {{ form.nickname|add_class:"form-control"|attr:"placeholder:닉네임"|attr:"style:border: 2px solid #6524ff"|attr:"name:nickname"|add_error_class:"error"}}
                {% for error in form.nickname.errors %}
                <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="registerBox--list">
                <label for="{{form.univ.id_for_label}}">{{form.univ.label}}</label>
                <select name="univ">
                    {% for radio in form.univ %}
                        {{ radio }}
                    {% endfor %}
                </select>
            </div>
            <!-- {% for field in form %} {{ field.errors }}
            <div class="registerBox--list">
                <label for="{{ field.id_for_label }}">{{field.label}}</label>
                <input
                    style="border: 2px solid #6524ff"
                    required="required"
                    type="{{ field.field.widget.input_type }}"
                    class="form-control"
                    id="{{field.id_for_label}}"
                    placeholder="{{field.label}}"
                    name="{{field.name}}를 입력해주세요."
                />
            </div>
            {% endfor %} -->
        </fieldset>
        <button id="registerBtn" type=""submit>
            <i class="fas fa-check xs"></i>회원가입
        </button>
    </form>
    {% endblock %}
</body>
