{% extends "coplate_base/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}로그인 | Coplate{% endblock title %}

{% block content %}
<div class="account-background">
  <main class="account">
    <div class="title">
      <a href="{% url 'index' %}"> <!-- 로고 클릭 시 홈페이지로 이동 -->
        <img class="logo" src="{% static 'coplate/assets/coplate-logo.svg' %}" alt="Coplate Logo">
      </a>
    </div>

    <form method="post">
      {% csrf_token %}
      <!-- non-field error 처리 -->
      {% for error in form.non_field_errors %}
        <div class="form-error error-message">{{ error }}</div> <!-- 에러 메시지 -->
      {% endfor %}
      <!-- input태그를 전부 장고의 form으로 변경 -->
      <div>
        {{ form.login|add_class:"cp-input"|attr:"placeholder:이메일"|add_error_class:"error"}}
        <!-- 각 필드에 대한 오류 처리-->
        {% for error in form.login.errors %}
          <div class="form-error error-message">{{ error }}</div> <!-- 에러 메시지 -->
        {% endfor %}
      </div>
      <div>
        {{ form.password|add_class:"cp-input"|attr:"placeholder:비밀번호"|add_error_class:"error"}}
        <!-- 각 필드에 대한 오류 처리-->
        {% for error in form.password.errors %}
          <div class="form-error error-message">{{ error }}</div> <!-- 에러 메시지 -->
        {% endfor %}
      </div>
      <button class="cp-button" type="submit">로그인</button>
    </form>
    
    <div class="info">
      <a class="item" href="{% url 'account_reset_password' %}">비밀번호 찾기</a> <!-- allauth의 url 네임 지정 -->
      <a class="item" href="{% url 'account_signup' %}">회원가입</a>
    </div>
  </main>
</div>
{% endblock content %}
